th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th{
  text-align: center;
  padding: 5px 20px;
}
td{
  padding: 5px 20px;
}
#table-container{
  background-color: rgb(235, 137, 118);
  width:100%;
  padding: 1px;
  display: inline-block;
}

#size-selector-0{
  max-width: auto;
}
#size-selector-1{
  max-width: 25%;
}
#size-selector-2{
  max-width: 50%;
}
#size-selector-3{
  max-width: 100%;
}


table{
  width: 100%;
}
