th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th{
  text-align: center;
  padding: 5px 20px;
}
td{
  padding: 5px 20px;
}

#table-container{
  padding: 2px;
}

#table-size-selector-0{
  max-width: auto;
}
#table-size-selector-1{
  max-width: 25%;
}
#table-size-selector-2{
  max-width: 50%;
}
#table-size-selector-3{
  max-width: 100%;
}
