@table-color0: none;
@table-color1: #ffa12d;
@table-color2: #da291c;
@table-color3: #861f41;
@table-color4: #6dc6e8;

@bg-color0: none;
@bg-color1: white;
@bg-color2: #00ee00;

#table-color-selector-0{
  background-color: @table-color0;
}
#table-color-selector-1{
  background-color: @table-color1;
}
#table-color-selector-2{
  background-color: @table-color2;
}
#table-color-selector-3{
  background-color: @table-color3;
}
#table-color-selector-4{
  background-color: @table-color4;
}

#table-bg-color-0{
  background-color: @bg-color0;
}
#table-bg-color-1{
  background-color: @bg-color1;
}
#table-bg-color-2{
  background-color: @bg-color2;
}
